USE [Vacancesvilla]
GO
/****** Object:  UserDefinedTableType [dbo].[type_HouseGeneralAmenities]    Script Date: 11/25/2021 10:45:40 PM ******/
CREATE TYPE [dbo].[type_HouseGeneralAmenities] AS TABLE(
	[GeneralAmentiesIds] [int] NULL,
	[IsActive] [bit] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[type_HouseNotAvaiable]    Script Date: 11/25/2021 10:45:40 PM ******/
CREATE TYPE [dbo].[type_HouseNotAvaiable] AS TABLE(
	[HouseId] [int] NULL,
	[HouseNotAvaiableDates] [date] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[type_HouseOtherAmenities]    Script Date: 11/25/2021 10:45:40 PM ******/
CREATE TYPE [dbo].[type_HouseOtherAmenities] AS TABLE(
	[OtherAmenitiesIds] [int] NULL,
	[IsActive] [bit] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[type_HouseSafeAmenities]    Script Date: 11/25/2021 10:45:40 PM ******/
CREATE TYPE [dbo].[type_HouseSafeAmenities] AS TABLE(
	[SafeAmenitiesIds] [int] NULL,
	[IsActive] [bit] NULL
)
GO
/****** Object:  Table [dbo].[tbl_Cities]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Cities](
	[CityId] [int] NOT NULL,
	[CityName] [varchar](255) NULL,
	[state_id] [int] NULL,
	[state_code] [varchar](255) NULL,
	[country_id] [int] NULL,
	[country_code] [varchar](255) NULL,
	[latitude] [decimal](10, 8) NOT NULL,
	[longitude] [decimal](11, 8) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[flag] [int] NOT NULL,
	[wikiDataId] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Countries]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Countries](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](100) NULL,
	[iso3] [char](3) NULL,
	[numeric_code] [char](3) NULL,
	[iso2] [char](2) NULL,
	[phonecode] [nvarchar](100) NULL,
	[capital] [varchar](255) NULL,
	[currency] [varchar](255) NULL,
	[currency_symbol] [varchar](255) NULL,
	[tld] [varchar](255) NULL,
	[native] [varchar](255) NULL,
	[region] [varchar](255) NULL,
	[subregion] [varchar](255) NULL,
	[timezones] [nvarchar](255) NULL,
	[translations] [nvarchar](max) NULL,
	[latitude] [decimal](11, 8) NULL,
	[longitude] [decimal](11, 8) NULL,
	[emoji] [nvarchar](191) NULL,
	[emojiU] [nvarchar](191) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[flag] [int] NOT NULL,
	[wikiDataId] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Currency]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Currency](
	[CurrencyId] [int] IDENTITY(1,1) NOT NULL,
	[CurrencyName] [nvarchar](250) NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CurrencyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_GeneralAmenities]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_GeneralAmenities](
	[GeneralAmenitiesId] [int] IDENTITY(1,1) NOT NULL,
	[GeneralAmenitiesNameEn] [nvarchar](250) NULL,
	[GeneralAmenitiesNameFr] [nvarchar](250) NULL,
	[GeneralAmenitiesNameSp] [nvarchar](250) NULL,
	[GeneralAmenitiesNameDu] [nvarchar](250) NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[GeneralAmenitiesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_House]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_House](
	[HouseId] [int] IDENTITY(1,1) NOT NULL,
	[PropertyId] [int] NULL,
	[PlaceName] [nvarchar](max) NULL,
	[RentalId] [int] NULL,
	[Longitude] [float] NULL,
	[Latitude] [float] NULL,
	[CountryId] [int] NULL,
	[StreetName] [nvarchar](max) NULL,
	[RoomNumber] [nvarchar](max) NULL,
	[CityName] [nvarchar](max) NULL,
	[StateName] [nvarchar](max) NULL,
	[PostalCode] [nvarchar](max) NULL,
	[Acreage] [nvarchar](max) NULL,
	[Guests] [int] NULL,
	[Bedroom] [int] NULL,
	[Beds] [int] NULL,
	[Bathroom] [int] NULL,
	[Kitchen] [int] NULL,
	[GeneralAmenitiesRule] [int] NULL,
	[PetRule] [int] NULL,
	[PartyOrganizingRule] [int] NULL,
	[CookingRule] [int] NULL,
	[AdditionalRuleText] [nvarchar](max) NULL,
	[PlaceDesForClient] [nvarchar](max) NULL,
	[HouseCoverImage] [nvarchar](max) NULL,
	[MonThusPrice] [float] NULL,
	[FriSunPrice] [float] NULL,
	[Longtermprice] [float] NULL,
	[NightsMin] [float] NULL,
	[NightsMax] [float] NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[stepCode] [int] NULL,
 CONSTRAINT [PK__tbl_Hous__085D128F079D8312] PRIMARY KEY CLUSTERED 
(
	[HouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_HouseGeneralAmenities]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_HouseGeneralAmenities](
	[HouseGeneralAmenitiesId] [int] IDENTITY(1,1) NOT NULL,
	[HouseId] [int] NULL,
	[GeneralAmentiesId] [int] NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[HouseGeneralAmenitiesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_HouseImages]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_HouseImages](
	[HouseImagesId] [int] IDENTITY(1,1) NOT NULL,
	[HouseId] [int] NULL,
	[HousePlaceImage] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[HouseImagesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_HouseNotAvaiable]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_HouseNotAvaiable](
	[HouseNotAvaiableId] [int] IDENTITY(1,1) NOT NULL,
	[HouseId] [int] NULL,
	[Dates] [date] NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[HouseNotAvaiableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_HouseOtherAmenities]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_HouseOtherAmenities](
	[HouseOtherAmenitiesId] [int] IDENTITY(1,1) NOT NULL,
	[HouseId] [int] NULL,
	[OtherAmenitiesId] [int] NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[HouseOtherAmenitiesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_HouseSafeAmenities]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_HouseSafeAmenities](
	[HouseSafeAmenitiesId] [int] IDENTITY(1,1) NOT NULL,
	[HouseId] [int] NULL,
	[SafeAmenitiesId] [int] NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[HouseSafeAmenitiesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Module]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Module](
	[ModuleId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleName] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ModulePermission]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ModulePermission](
	[ModulePermissionId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleId] [int] NULL,
	[RoleId] [int] NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ModulePermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_OtherAmenities]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_OtherAmenities](
	[OtherAmenitiesId] [int] IDENTITY(1,1) NOT NULL,
	[OtherAmenitiesNameEn] [nvarchar](250) NULL,
	[OtherAmenitiesNameFr] [nvarchar](250) NULL,
	[OtherAmenitiesNameSp] [nvarchar](250) NULL,
	[OtherAmenitiesNameDu] [nvarchar](250) NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[OtherAmenitiesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PageActionPermission]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PageActionPermission](
	[PageActionPermissionId] [int] IDENTITY(1,1) NOT NULL,
	[PageActionId] [int] NULL,
	[RoleId] [int] NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PageActionPermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PagePermission]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PagePermission](
	[PagePermissionId] [int] IDENTITY(1,1) NOT NULL,
	[PageId] [int] NULL,
	[RoleId] [int] NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PagePermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Pages]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Pages](
	[PageId] [int] IDENTITY(1,1) NOT NULL,
	[PageName] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PagesAction]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PagesAction](
	[PageActionId] [int] IDENTITY(1,1) NOT NULL,
	[PageId] [int] NULL,
	[PageActionName] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK__tbl_Page__1DF3BB5F904F521D] PRIMARY KEY CLUSTERED 
(
	[PageActionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PropertyType]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PropertyType](
	[PropertyId] [int] IDENTITY(1,1) NOT NULL,
	[PropertyEn] [nvarchar](250) NULL,
	[PropertyFr] [nvarchar](250) NULL,
	[PropertySp] [nvarchar](250) NULL,
	[PropertyDu] [nvarchar](250) NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_RentalForm]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_RentalForm](
	[RentalId] [int] IDENTITY(1,1) NOT NULL,
	[RentalEn] [nvarchar](250) NULL,
	[RentalFr] [nvarchar](250) NULL,
	[RentalSp] [nvarchar](250) NULL,
	[RentalDu] [nvarchar](250) NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RentalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Role]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_SafeAmenities]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SafeAmenities](
	[SafeAmenitiesId] [int] IDENTITY(1,1) NOT NULL,
	[SafeAmenitiesNameEn] [nvarchar](250) NULL,
	[SafeAmenitiesNameFr] [nvarchar](250) NULL,
	[SafeAmenitiesNameSp] [nvarchar](250) NULL,
	[SafeAmenitiesNameDu] [nvarchar](250) NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SafeAmenitiesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_User]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NULL,
	[Firstname] [nvarchar](100) NULL,
	[Lastname] [nvarchar](100) NULL,
	[Password] [nvarchar](100) NULL,
	[Address] [nvarchar](max) NULL,
	[Number] [nvarchar](100) NULL,
	[PostalCode] [nvarchar](100) NULL,
	[CityId] [int] NULL,
	[CountryId] [int] NULL,
	[Gender] [nvarchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[Other] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_tbl_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserRole]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserRole](
	[UserRoleId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[RoleId] [int] NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Vendor]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Vendor](
	[VendorId] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[CompanyName] [nvarchar](max) NULL,
	[CompanyDescription] [nvarchar](max) NULL,
	[CompanyMail] [nvarchar](max) NULL,
	[Website] [nvarchar](max) NULL,
	[CompanyAddress] [nvarchar](max) NULL,
	[CompanyPostalCode] [nvarchar](max) NULL,
	[CityId] [int] NULL,
	[CounttyId] [int] NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[tbl_Cities] ([CityId], [CityName], [state_id], [state_code], [country_id], [country_code], [latitude], [longitude], [created_at], [updated_at], [flag], [wikiDataId]) VALUES (1, N'Andorra la Vella', 488, N'07', 6, N'AD', CAST(42.50779000 AS Decimal(10, 8)), CAST(1.52109000 AS Decimal(11, 8)), CAST(N'2019-10-05T18:28:06.000' AS DateTime), CAST(N'2019-10-05T18:28:06.000' AS DateTime), 1, N'Q1863')
INSERT [dbo].[tbl_Cities] ([CityId], [CityName], [state_id], [state_code], [country_id], [country_code], [latitude], [longitude], [created_at], [updated_at], [flag], [wikiDataId]) VALUES (2, N'Arinsal', 493, N'04', 6, N'AD', CAST(42.57205000 AS Decimal(10, 8)), CAST(1.48453000 AS Decimal(11, 8)), CAST(N'2019-10-05T18:28:06.000' AS DateTime), CAST(N'2019-10-05T18:28:06.000' AS DateTime), 1, N'Q24554')
INSERT [dbo].[tbl_Cities] ([CityId], [CityName], [state_id], [state_code], [country_id], [country_code], [latitude], [longitude], [created_at], [updated_at], [flag], [wikiDataId]) VALUES (3, N'Canillo', 489, N'02', 6, N'AD', CAST(42.56760000 AS Decimal(10, 8)), CAST(1.59756000 AS Decimal(11, 8)), CAST(N'2019-10-05T18:28:06.000' AS DateTime), CAST(N'2019-10-05T18:28:06.000' AS DateTime), 1, N'Q24554')
GO
SET IDENTITY_INSERT [dbo].[tbl_Countries] ON 

SET IDENTITY_INSERT [dbo].[tbl_Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_GeneralAmenities] ON 

INSERT [dbo].[tbl_GeneralAmenities] ([GeneralAmenitiesId], [GeneralAmenitiesNameEn], [GeneralAmenitiesNameFr], [GeneralAmenitiesNameSp], [GeneralAmenitiesNameDu], [CreateDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsActive]) VALUES (1, N'Wifi', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[tbl_GeneralAmenities] ([GeneralAmenitiesId], [GeneralAmenitiesNameEn], [GeneralAmenitiesNameFr], [GeneralAmenitiesNameSp], [GeneralAmenitiesNameDu], [CreateDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsActive]) VALUES (2, N'Internet', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[tbl_GeneralAmenities] ([GeneralAmenitiesId], [GeneralAmenitiesNameEn], [GeneralAmenitiesNameFr], [GeneralAmenitiesNameSp], [GeneralAmenitiesNameDu], [CreateDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsActive]) VALUES (3, N'TV', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[tbl_GeneralAmenities] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Module] ON 

INSERT [dbo].[tbl_Module] ([ModuleId], [ModuleName], [IsActive]) VALUES (1, N'admin', 1)
INSERT [dbo].[tbl_Module] ([ModuleId], [ModuleName], [IsActive]) VALUES (2, N'vendor', 1)
INSERT [dbo].[tbl_Module] ([ModuleId], [ModuleName], [IsActive]) VALUES (3, N'custormer', 1)
SET IDENTITY_INSERT [dbo].[tbl_Module] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_ModulePermission] ON 

INSERT [dbo].[tbl_ModulePermission] ([ModulePermissionId], [ModuleId], [RoleId], [CreateDate], [CreatedBy], [UpdateDate], [UpdateBy], [IsActive]) VALUES (1, 1, 1, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[tbl_ModulePermission] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_OtherAmenities] ON 

INSERT [dbo].[tbl_OtherAmenities] ([OtherAmenitiesId], [OtherAmenitiesNameEn], [OtherAmenitiesNameFr], [OtherAmenitiesNameSp], [OtherAmenitiesNameDu], [CreateDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsActive]) VALUES (1, N'Wardrobe', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[tbl_OtherAmenities] ([OtherAmenitiesId], [OtherAmenitiesNameEn], [OtherAmenitiesNameFr], [OtherAmenitiesNameSp], [OtherAmenitiesNameDu], [CreateDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsActive]) VALUES (2, N'Cloth hook', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[tbl_OtherAmenities] ([OtherAmenitiesId], [OtherAmenitiesNameEn], [OtherAmenitiesNameFr], [OtherAmenitiesNameSp], [OtherAmenitiesNameDu], [CreateDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsActive]) VALUES (3, N'Extra cushion', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[tbl_OtherAmenities] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_PagePermission] ON 

INSERT [dbo].[tbl_PagePermission] ([PagePermissionId], [PageId], [RoleId], [CreateDate], [CreatedBy], [UpdateDate], [UpdateBy], [IsActive]) VALUES (1, 1, 1, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[tbl_PagePermission] ([PagePermissionId], [PageId], [RoleId], [CreateDate], [CreatedBy], [UpdateDate], [UpdateBy], [IsActive]) VALUES (2, 2, 1, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[tbl_PagePermission] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Pages] ON 

INSERT [dbo].[tbl_Pages] ([PageId], [PageName], [IsActive]) VALUES (1, N'UserManagement', 1)
INSERT [dbo].[tbl_Pages] ([PageId], [PageName], [IsActive]) VALUES (2, N'RoleManagement', 1)
SET IDENTITY_INSERT [dbo].[tbl_Pages] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_PropertyType] ON 

INSERT [dbo].[tbl_PropertyType] ([PropertyId], [PropertyEn], [PropertyFr], [PropertySp], [PropertyDu], [CreateDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsActive]) VALUES (1, N'Hotel', N'Hôtel', N'Hotel', N'Hotel', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[tbl_PropertyType] ([PropertyId], [PropertyEn], [PropertyFr], [PropertySp], [PropertyDu], [CreateDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsActive]) VALUES (2, N'Cottage', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[tbl_PropertyType] ([PropertyId], [PropertyEn], [PropertyFr], [PropertySp], [PropertyDu], [CreateDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsActive]) VALUES (3, N'Villa', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[tbl_PropertyType] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_RentalForm] ON 

INSERT [dbo].[tbl_RentalForm] ([RentalId], [RentalEn], [RentalFr], [RentalSp], [RentalDu], [CreateDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsActive]) VALUES (1, N'Entire Place', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[tbl_RentalForm] ([RentalId], [RentalEn], [RentalFr], [RentalSp], [RentalDu], [CreateDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsActive]) VALUES (2, N'Private Room', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[tbl_RentalForm] ([RentalId], [RentalEn], [RentalFr], [RentalSp], [RentalDu], [CreateDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsActive]) VALUES (3, N'Share Room', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[tbl_RentalForm] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Role] ON 

INSERT [dbo].[tbl_Role] ([RoleId], [RoleName], [CreateDate], [CreatedBy], [UpdateDate], [UpdateBy], [IsActive]) VALUES (1, N'SuperAdmin', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[tbl_Role] ([RoleId], [RoleName], [CreateDate], [CreatedBy], [UpdateDate], [UpdateBy], [IsActive]) VALUES (2, N'Admin', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[tbl_Role] ([RoleId], [RoleName], [CreateDate], [CreatedBy], [UpdateDate], [UpdateBy], [IsActive]) VALUES (3, N'Vendor', NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[tbl_Role] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_SafeAmenities] ON 

INSERT [dbo].[tbl_SafeAmenities] ([SafeAmenitiesId], [SafeAmenitiesNameEn], [SafeAmenitiesNameFr], [SafeAmenitiesNameSp], [SafeAmenitiesNameDu], [CreateDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsActive]) VALUES (1, N'Fire siren', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[tbl_SafeAmenities] ([SafeAmenitiesId], [SafeAmenitiesNameEn], [SafeAmenitiesNameFr], [SafeAmenitiesNameSp], [SafeAmenitiesNameDu], [CreateDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsActive]) VALUES (2, N'Fire extinguisher', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[tbl_SafeAmenities] ([SafeAmenitiesId], [SafeAmenitiesNameEn], [SafeAmenitiesNameFr], [SafeAmenitiesNameSp], [SafeAmenitiesNameDu], [CreateDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsActive]) VALUES (3, N'Anti-theft key', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[tbl_SafeAmenities] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_User] ON 

INSERT [dbo].[tbl_User] ([UserId], [Username], [Firstname], [Lastname], [Password], [Address], [Number], [PostalCode], [CityId], [CountryId], [Gender], [DateOfBirth], [Other], [IsActive], [CreateDate], [CreatedBy], [UpdateDate], [UpdateBy]) VALUES (1, N'superadmin@gmail.com', N'superadmin', N'superadmin', N'T9rucaF7eoHL1VV/KUu/Wg==', NULL, NULL, NULL, 1, 1, N'1', NULL, NULL, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[tbl_User] ([UserId], [Username], [Firstname], [Lastname], [Password], [Address], [Number], [PostalCode], [CityId], [CountryId], [Gender], [DateOfBirth], [Other], [IsActive], [CreateDate], [CreatedBy], [UpdateDate], [UpdateBy]) VALUES (2, N'sheerazkhilji@gmail.com', N'sheeraz', N'khilji', N'T9rucaF7eoHL1VV/KUu/Wg==', N'abc', N'123456789', N'1234', 143, 10, N'Male', CAST(N'1999-06-15' AS Date), NULL, 1, CAST(N'2021-11-08T20:23:34.670' AS DateTime), N'self', NULL, NULL)
INSERT [dbo].[tbl_User] ([UserId], [Username], [Firstname], [Lastname], [Password], [Address], [Number], [PostalCode], [CityId], [CountryId], [Gender], [DateOfBirth], [Other], [IsActive], [CreateDate], [CreatedBy], [UpdateDate], [UpdateBy]) VALUES (3, N'ibrahim@gmail.com', N'ibrahim', N'MOSANI', N'T9rucaF7eoHL1VV/KUu/Wg==', N'abc', N'123', N'1234', 143, 10, N'Male', CAST(N'2021-11-03' AS Date), NULL, 1, CAST(N'2021-11-08T20:49:15.557' AS DateTime), N'self', NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_User] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_UserRole] ON 

INSERT [dbo].[tbl_UserRole] ([UserRoleId], [UserId], [RoleId], [CreateDate], [CreatedBy], [UpdateDate], [UpdateBy], [IsActive]) VALUES (1, 1, 1, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[tbl_UserRole] ([UserRoleId], [UserId], [RoleId], [CreateDate], [CreatedBy], [UpdateDate], [UpdateBy], [IsActive]) VALUES (2, 2, 3, CAST(N'2021-11-08T20:23:34.707' AS DateTime), N'self', NULL, NULL, 1)
INSERT [dbo].[tbl_UserRole] ([UserRoleId], [UserId], [RoleId], [CreateDate], [CreatedBy], [UpdateDate], [UpdateBy], [IsActive]) VALUES (3, 3, 3, CAST(N'2021-11-08T20:49:15.557' AS DateTime), N'self', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[tbl_UserRole] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Vendor] ON 

INSERT [dbo].[tbl_Vendor] ([VendorId], [UserID], [CompanyName], [CompanyDescription], [CompanyMail], [Website], [CompanyAddress], [CompanyPostalCode], [CityId], [CounttyId], [CreateDate], [CreatedBy], [UpdateDate], [UpdateBy], [IsActive]) VALUES (1, 2, N'MyCompany', N'Very Good', N'sheerazkhilji@gmail.com', N'later', N'abc', N'1234', 143, 10, CAST(N'2021-11-08T20:23:34.727' AS DateTime), N'self', NULL, NULL, 1)
INSERT [dbo].[tbl_Vendor] ([VendorId], [UserID], [CompanyName], [CompanyDescription], [CompanyMail], [Website], [CompanyAddress], [CompanyPostalCode], [CityId], [CounttyId], [CreateDate], [CreatedBy], [UpdateDate], [UpdateBy], [IsActive]) VALUES (2, 3, N'rice', N'very good quality', N'ibrahim@gmail.com', N'later', N'abc', N'1234', 143, 10, CAST(N'2021-11-08T20:49:15.570' AS DateTime), N'self', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[tbl_Vendor] OFF
GO
ALTER TABLE [dbo].[tbl_Cities] ADD  DEFAULT ((1)) FOR [flag]
GO
ALTER TABLE [dbo].[tbl_Countries] ADD  DEFAULT (NULL) FOR [latitude]
GO
ALTER TABLE [dbo].[tbl_Countries] ADD  DEFAULT (NULL) FOR [longitude]
GO
ALTER TABLE [dbo].[tbl_Countries] ADD  DEFAULT (NULL) FOR [created_at]
GO
ALTER TABLE [dbo].[tbl_Countries] ADD  DEFAULT ((1)) FOR [flag]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddUpdateHouse]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[usp_AddUpdateHouse]
@HouseId int =null,
@PropertyId int =null,
@PlaceName nvarchar(max) =null,
@RentalId int =null,
@Longitude float =null,
@Latitude float =null,
@CountryId int =null,
@streetName nvarchar(max) =null,
@RoomNumber nvarchar(max) =null,
@CityName nvarchar(max),
@stateName  nvarchar(max) =null,
@PostalCode nvarchar(max) =null,
@Acreage nvarchar(max) =null,
@Guests int =null,
@Bedroom int =null,
@Beds int =null,
@Bathroom int =null,
@kitchen int =null,
@GeneralAmenitiesRule int =null,
@PetRule int =null,
@PartyOrganizingRule int =null,
@CookingRule int =null,
@PlaceDesForClient nvarchar(max) =null,
@HouseCoverImage  nvarchar(max) =null,
@MonThusPrice float =null,
@FriSunPrice float =null,
@Longtermprice  float =null,
@NightsMin float =null,
@NightsMax float =null, 
@AdditionalRulesForHouse  nvarchar(max)  , 
@type_HouseGeneralAmenities  type_HouseGeneralAmenities  readonly,

@type_HouseOtherAmenities  type_HouseOtherAmenities  readonly,

@type_HouseSafeAmenities  type_HouseSafeAmenities  readonly,

@type_HouseNotAvaiable type_HouseNotAvaiable readonly,  
@CreatedBy nvarchar(max)=null,
@stepCode int
as
begin

  
declare @ErrorMessage nvarchar(max)  
  
  
declare @ErrorSeverity nvarchar(max)  
  
  
declare @ErrorState  nvarchar(max)=null;  
  
  
   begin  try    

   if(@HouseId>0)
   begin

   update tbl_House set PropertyId=@PropertyId,
   PlaceName=@PlaceName,
   RentalId=@RentalId,
   Longitude=@Longitude,
   Latitude=@Latitude,
   CountryId=@CountryId,
   StreetName=@streetName,
   RoomNumber=@RoomNumber,
   CityName=@CityName,
   StateName=@stateName,
   PostalCode=@PostalCode,
   Acreage=@Acreage,
   Guests=@Guests,
   Bedroom=@Bedroom,
   Beds=@Beds,
   Bathroom=@Bathroom,
   Kitchen=@kitchen,
   GeneralAmenitiesRule=@GeneralAmenitiesRule,
   PetRule=@PetRule,
   PartyOrganizingRule=@PartyOrganizingRule,
   CookingRule=@CookingRule,
   AdditionalRuleText=@AdditionalRulesForHouse,
   PlaceDesForClient=@PlaceDesForClient,
   HouseCoverImage=@HouseCoverImage,
   MonThusPrice=@MonThusPrice,
   FriSunPrice=@FriSunPrice,
   Longtermprice=@Longtermprice,
   NightsMin=@NightsMin,
   NightsMax=@NightsMax,
 stepCode=@stepCode,
UpdateBy=@CreatedBy,
UpdateDate=GETDATE()
where HouseId=@HouseId


  Merge  tbl_HouseGeneralAmenities G  
  USING @type_HouseGeneralAmenities  A on (G.GeneralAmentiesId=A.GeneralAmentiesIds)  
  WHEN MATCHED  
  THEN UPDATE SET   
   G.IsActive=A.IsActive  
   WHEN NOT MATCHED BY TARGET   
THEN INSERT (HouseId,GeneralAmentiesId,IsActive )  
        VALUES (@HouseId,A.GeneralAmentiesIds,A.IsActive );  

  Merge  tbl_HouseOtherAmenities O  
  USING @type_HouseOtherAmenities  OA on (O.OtherAmenitiesId=OA.OtherAmenitiesIds)  
  WHEN MATCHED  
  THEN UPDATE SET   
   O.IsActive=OA.IsActive  
   WHEN NOT MATCHED BY TARGET   
THEN INSERT (HouseId,OtherAmenitiesId,IsActive )  
        VALUES (@HouseId,OA.OtherAmenitiesIds,OA.IsActive );  


		
  Merge  tbl_HouseSafeAmenities S  
  USING @type_HouseSafeAmenities  SA on (S.SafeAmenitiesId=SA.SafeAmenitiesIds)  
  WHEN MATCHED  
  THEN UPDATE SET   
   S.IsActive=SA.IsActive  
   WHEN NOT MATCHED BY TARGET   
THEN INSERT (HouseId,SafeAmenitiesId,IsActive )  
        VALUES (@HouseId,SA.SafeAmenitiesIds,SA.IsActive );  




if not exists(select 1 from tbl_HouseNotAvaiable where HouseId=@HouseId)
begin
 insert into  tbl_HouseNotAvaiable (HouseId,Dates,[CreateDate],[IsActive])  
 select  @HouseId,HouseNotAvaiableDates,getdate(),1 from @type_HouseNotAvaiable
 end
 else
 begin

 UPDATE Per
SET 
Per.Dates=hn.HouseNotAvaiableDates,
per.UpdateBy=@CreatedBy,
Per.UpdateDate=getdate()
FROM tbl_HouseNotAvaiable Per
INNER JOIN
@type_HouseNotAvaiable hn
ON Per.HouseId = hn.HouseId
 end






 select @HouseId




   end
   else

   begin


   insert into tbl_House(PropertyId,PlaceName,RentalId,CreatedBy,CreateDate,IsActive,stepCode)
   values(@PropertyId,@PlaceName,@RentalId,@CreatedBy,GETDATE(),1,@stepCode)


   
select @@IDENTITY   
   
   
   end


    end try  
  
 begin catch  
 ROLLBACK  
SELECT   
        @ErrorMessage = ERROR_MESSAGE(),   
        @ErrorSeverity = ERROR_SEVERITY(),   
        @ErrorState  = ERROR_STATE();  
  
    -- return the error inside the CATCH block  
    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);  
  
end catch  
  
  
  
  
  
end  
  
  








GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllCountries]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[usp_GetAllCountries]
as
begin

select countryId,CountryName from tbl_Countries
end
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllDropDownForHouse]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create  proc [dbo].[usp_GetAllDropDownForHouse]
as
begin

select * from  [tbl_PropertyType] where IsActive=1

select * from  [tbl_RentalForm] where IsActive=1

select * from  [tbl_Countries]


select * from tbl_GeneralAmenities where IsActive=1

select * from tbl_OtherAmenities where IsActive=1


select * from tbl_SafeAmenities where IsActive=1





end
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllPropertyType]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[usp_GetAllPropertyType]
as
begin

select * from  [dbo].[tbl_PropertyType] where IsActive=1


end
GO
/****** Object:  StoredProcedure [dbo].[usp_GetCityByCountryId]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create proc [dbo].[usp_GetCityByCountryId]
@Id int 
as
begin


select CityId,CityName,country_id  from tbl_Cities
where country_id=@Id
end
GO
/****** Object:  StoredProcedure [dbo].[usp_SelfVendorRegistration]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE proc [dbo].[usp_SelfVendorRegistration] 
 @Username nvarchar(100),
 @Firstname nvarchar(100),
 @LastName nvarchar(100),
 @Password nvarchar(100),
 @dateofbirth date,
 @Gender nvarchar(50),
 @Address nvarchar(max),
 @PhoneNumber nvarchar(max),
 @PostalCode nvarchar(100),
 @CityID int,
 @CountryId int,
 @CompanyName nvarchar(max),
 @CompanyDiscription nvarchar(max),
 @WebSite nvarchar(max)


 as
 begin
 
declare @ErrorMessage nvarchar(max)


declare @ErrorSeverity nvarchar(max)


declare @ErrorState  nvarchar(max)=null


Begin Try


	if not exists (select 1 from tbl_Vendor where [CompanyName]=@CompanyName)

  begin

  declare @NewID int

   if not exists (select 1 from tbl_User  where [Username]=@Username)
  begin


  insert into [dbo].[tbl_User] ([Username],[Firstname],[Lastname],[Password],[Gender],[Address],
  [DateOfBirth],[Number],[PostalCode],[CityId],[CountryId],IsActive,CreateDate,CreatedBy)

  values(@Username,@Firstname,@LastName,@Password,@Gender,@Address,
  @dateofbirth,@PhoneNumber,@PostalCode,@CityID,@CountryId,1,GETDATE(),'self')
  
  

  select @NewID=@@IDENTITY

  end
  else
  begin
  
  select @NewID=UserId from tbl_User where [Username]=@Username
  end







  insert into tbl_UserRole (UserId,RoleId,CreateDate,CreatedBy,IsActive) 
  values (@NewID,3,GETDATE(),'self',1)


insert into tbl_Vendor
(UserID,CompanyName,CompanyDescription,CompanyAddress,CompanyMail,Website,
CompanyPostalCode,CityId,CounttyId,CreateDate,CreatedBy,IsActive)
values
(@NewID,@CompanyName,@CompanyDiscription,@Address,@Username,@WebSite,@PostalCode,@CityID,@CountryId,
GETDATE(),'self',1
)



select @@IDENTITY


  end

else
 begin


  
RAISERROR(N'Company Name Already Exists', 16, @ErrorState);


  end

  end try
begin catch

SELECT 
        @ErrorMessage = ERROR_MESSAGE(), 
        @ErrorSeverity = ERROR_SEVERITY(), 
        @ErrorState  = ERROR_STATE();

    -- return the error inside the CATCH block
    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);

end catch


end
GO
/****** Object:  StoredProcedure [dbo].[usp_ValidateLogin]    Script Date: 11/25/2021 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE proc [dbo].[usp_ValidateLogin] --'superadmin@gmail.com','123'
 @Username nvarchar(100),
 @UserPassword nvarchar(100)
 as
 begin
 
declare @ErrorMessage nvarchar(max)


declare @ErrorSeverity nvarchar(max)


declare @ErrorState  nvarchar(max)=null


Begin Try


	if exists (
  select 1 from [tbl_User] u inner join tbl_UserRole ur on (u.UserId=ur.UserId)
  inner join tbl_Role r on (ur.RoleId=r.RoleId)
  where   u.Username=@Username and u.Password=@UserPassword and  u.IsActive=1 and ur.IsActive=1 and r.IsActive=1 )

  begin


  declare @RoleId int

    select @RoleId=r.RoleId from [tbl_User] u inner join tbl_UserRole ur on (u.UserId=ur.UserId)
  inner join tbl_Role r on (ur.RoleId=r.RoleId)
  where   u.Username=@Username and u.Password=@UserPassword and  u.IsActive=1 and ur.IsActive=1 and r.IsActive=1



  select u.*,r.RoleName from [tbl_User] u inner join tbl_UserRole ur on (u.UserId=ur.UserId)
  inner join tbl_Role r on (ur.RoleId=r.RoleId)
  where   u.Username=@Username and u.Password=@UserPassword and u.IsActive=1 and ur.IsActive=1 and r.IsActive=1

  

  select m.ModuleId,m.ModuleName,mp.IsActive
  
  
  from tbl_Module m  inner join tbl_ModulePermission mp 
  on(m.ModuleId=mp.ModuleId)  

  where mp.RoleId=@RoleId and m.IsActive=1 and mp.IsActive=1


  select p.PageId,p.PageName,pp.IsActive from tbl_Pages p inner join tbl_PagePermission pp on (p.PageId=pp.PageId)
  where pp.RoleId=@RoleId and p.IsActive=1 and pp.IsActive=1


  select pa.PageActionId,pa.PageActionName,p.PageName,p.PageId,pap.IsActive  from tbl_Pages p inner join tbl_PagesAction pa on (p.PageId=pa.PageId)
  inner join tbl_PageActionPermission pap
  on (pa.PageActionId=pap.PageActionId) where pap.RoleId=@RoleId and pa.IsActive=1 and pap.IsActive=1




  end

else
 begin


  
RAISERROR(N'Invalid Email and Password', 16, @ErrorState);


  end

  end try
begin catch

SELECT 
        @ErrorMessage = ERROR_MESSAGE(), 
        @ErrorSeverity = ERROR_SEVERITY(), 
        @ErrorState  = ERROR_STATE();

    -- return the error inside the CATCH block
    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);

end catch


end
GO
